<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to To-Do List</title>
</head>
<body>
    <form action="/get_users" method="post">
        <label>Welcome to express to-do:</label>
        <input type="text" name = "username" placeholder="user name"/>
        <input type="submit"/>
    </form>
    <a href="/register">Create Account</a>
</body>
</html>